<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Listado Notas</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">NOTES</a>
        </nav>
        </div>
        <div class="container">
            <div class="row">
                <h1>My notes</h1>
            </div>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Content</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each = "nota : ${notas}">
                         <td th:text="${nota.titulo}">Title</td>
                         <td th:text="${nota.contenido}">Content</td>
                       
                    </tr>
                 
                </tbody>
            </table>
        </div>
    </body>
</html>
